  body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("patrick-hendry-_lofCeUHMOo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin: 20px; 
  }

  .intro {
    color: rgb(255, 255, 255);
    font-size: larger;
    opacity: 1;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: rgb(12, 168, 17);
  }
  .introbg {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.537) ; 
    border-radius: 20%;  
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    
  }
  nav ul li :hover {
    color: rgb(22, 148, 20) ;
  }
  
  header h1 {
    margin: 0;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: rgb(29, 121, 28);
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
  }

  main {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .product {
    width: 80%;
    background-color: #ffffff;
    border: 9px solid rgb(221, 221, 221);
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5%;
  }
   
  .product img {
    max-width: 100%;
    height: auto;
  }
  
  .product h2 {
    margin-top: 10px;
  }
  
  .product p {
    margin: 5px 0;
  }

  .rutor :hover {
    color: #14a312;
    box-shadow: 0 0 5px #14a312;
   
  }

  .rutor{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  justify-items: center;
  margin-top: 20px;
}

.kontakt {
  justify-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
}

.kontakt p {
  justify-content: center; 
  font-size: 30px;
  color: #fff;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(29, 121, 28);
}


